/venv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/Jeu_Plateforme_Simple.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
